version: "3"
services:
  consul:
    image: "consul:latest"
    container_name: "consul"
    command: ["agent", "-server", "-bootstrap", "-ui", "-node", "1", "-client", "0.0.0.0"]
    restart: "always"
    ports:
      - "8500:8500"
  redis:
    image: "redis:latest"
    container_name: "redis"
    restart: "always"
    ports:
      - "6379:6379"
    command: ["--save", "60", "1", "--loglevel", "warning"]
  mysql:
    image: "mysql:8.0"
    container_name: "mysql"
    restart: "always"
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "php-rpc-blog"
      MYSQL_DATABASE: "blog"
      MYSQL_USER: "blog"
      MYSQL_PASSWORD: "blog"
    volumes:
      - "./dockerfile/mysql/sql:/data/sql"
      - "./data/mysql:/var/lib/mysql"
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_unicode_ci"]
  phpmyadmin:
    image: "phpmyadmin:latest"
    container_name: "phpmyadmin"
    restart: "always"
    ports:
      - "9500:80"
    environment:
      PMA_ARBITRARY: 1
  http-server:
    build: "./dockerfile/http-server"
    container_name: "http-server"
    ports:
      - "9501:9501"
    volumes:
      - "./src/workspace/http-server:/data/http-server"
    stdin_open: true
    tty: true
    restart: "always"
  tcp-service-system:
    build: "./dockerfile/tcp-service-system"
    container_name: "tcp-service-system"
    volumes:
      - "./src/workspace/tcp-service-system:/data/service-system"
    stdin_open: true
    tty: true
    restart: "always"
networks:
  default:
    driver: "bridge"

# docker compose rm -f -s && docker compose up -d

# 进入http服务器 并启动服务
# docker exec -it http-server /bin/bash
# rm -rf composer.lock && composer install
# php bin/hyperf.php start

# 进入微服务"系统服务"服务器 并启动服务
# docker exec -it tcp-service-system /bin/bash
# rm -rf composer.lock && composer install
# php bin/hyperf.php start

# 进入微服务"会员服务"服务器 并启动服务
# docker exec -it tcp-service-user /bin/bash
# rm -rf composer.lock && composer install
# php bin/hyperf.php start

# mysql --defaults-extra-file=/etc/mysql/my.cnf -uroot -p"$MYSQL_ROOT_PASSWORD" < /data/sql/init.sql

